/*   ::: FONTS :::   */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Hind+Guntur:wght@300&family=Montserrat:wght@700&display=swap');



/*   ::: RESET :::   */
:where(html, body, header, main, footer, section, article, figure, img, a) {
    width: 100%;
}

:where(html) {
    background-color: #ececec;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:where(img) {
    object-fit: cover;
}

:where(*) {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:where(button, input, fieldset) {
    border: none;
    appearance: none;
}

:where(input::-webkit-search-cancel-button) {
    display: none;
}

:where(fieldset, figure) {
    display: flex;
    justify-content: center;
}

:where(ul, ol) {
    list-style: none;
}

:where(li) {
    text-indent: 0;
}

:where(a) {
    text-decoration: none;
    color: black;
}

:where(a:visited) {
    color: black;
}



/*   ::: VARIABLES :::   */
:root {
    /* color */
    --light-pink: #D4ACE5;
    --light-blue: #acd8ff;
    /* spacing */
    --link-padding: 0.5rem 0.75rem;
}

mark{
    background-color: var(--light-blue);
}



/*   ::: BODY :::   */
html {
    background-color:azure;
}


/*   ::: HEADER :::   */
header {
    display: flex;
    position:fixed;
    justify-content: space-between;
    padding: 1rem 6rem;
    background-color: var(--light-pink);
}

.header__figure, .logo {
    width: 3rem;
    height: 3rem;
}

nav {
    display: flex;
    align-items: center;
}

.nav__ul {
    display: flex;
    gap: 3rem;
}

.nav__group {
    display: flex;
}

.nav__search {
    gap: 0.5rem;
}

.nav__account {
    gap: 0;
}

.nav__li {
    border-radius: 2rem;
    padding: var(--link-padding);
}

.nav__a {
    font-family: 'cormorant garamond', sans-serif;
    font-size: 1.2rem;
    transition: 150ms;
}

.nav__account a {
    padding: 0.4rem 1.5rem;
    border-radius: 25px;
    transition: 400ms;
    width: 100px;
}

.nav__register {
    background-color: black;
    color: white;
}

.nav__login {
    outline: solid 1.5px black;
}

.nav__separation {
    color: navy;
    opacity: .2;
    height: 2rem;
}



/*   ::: SECTION 1 :::   */

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;

}

.cover__title {
    font-size: 4rem;
    font-family: 'Montserrat', serif;
    text-align: center;
    margin-bottom: 2rem;
    padding: 4rem 12rem;
}

.cover__cards {
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-snap-align: center;
    scroll-snap-type: x proximity;
    overflow: visible;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1px blueviolet;
    border-radius: 1rem;
    height: 6rem;
    padding: 10%;
    margin: 10px;
    gap: 1rem;
    width: 100%;
    animation-timing-function: ease-in-out;
    font-family: 'cormorant garamond', sans-serif;
}

.cover__figure {
    width: fit-content;
}



/*   ::: INTERACTIONS :::   */

.card:hover {
    background-color: var(--light-pink);
    color: white;
    outline: dotted white 2px;
    font-size: 2rem;
    outline-offset: -5px;
    transform: scale(1.1);
    transform-origin: center;
    margin: 0 40px;

}

.card:hover .card__icon {
    transform: scale(1.5) translateY(-3rem);
    background-color: azure;
    clip-path: circle(40%);
}

.card:hover .card__title {
    transform: scale(1.5) translateY(-3rem);
}

.nav__account a:hover {
    transition: 200ms;
    color: black;
    background-color: white;
} 

.nav__li:hover:not(.nav__account li) {
    transition: 200ms;
    background-color: white;
}

.nav__login:hover {
    outline: none;
}